<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">Edit Game</h1>
  <div class="col-md-6 offset-md-3">
    <form action="/games/<%= game._id %>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" type="text" id="title" name="game[title]" value="<%= game.title %>" required />
        <div class="invalid-feedback">A title is required.</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="platform">Platform</label>
        <select class="form-select form-control" id="platform" name="game[platform]" required>
          <optgroup label="Previous Selection">
            <option value="<%= game.platform %>" selected><%= game.platform %></option>
          </optgroup>
          <optgroup label="Other Options">
            <option value="PC">PC</option>
            <option value="PC (Emulation)">PC (Emulation)</option>
            <option value="PlayStation 5">PlayStation 5</option>
            <option value="PlayStation 4">PlayStation 4</option>
            <option value="PlayStation 3">PlayStation 3</option>
            <option value="PlayStation 2">PlayStation 2</option>
            <option value="PlayStation">PlayStation</option>
            <option value="Xbox Series X/S">Xbox Series X/S</option>
            <option value="Xbox One">Xbox One</option>
            <option value="Xbox 360">Xbox 360</option>
            <option value="Xbox">Xbox</option>
            <option value="Nintendo Switch">Nintendo Switch</option>
            <option value="Nintendo Wii U">Nintendo Wii U</option>
            <option value="Nintendo Wii">Nintendo Wii</option>
            <option value="Nintendo GameCube">Nintendo GameCube</option>
            <option value="Nintendo 64">Nintendo 64</option>
            <option value="Nintendo 3DS">Nintendo 3DS</option>
          </optgroup>
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label" for="year">Year Completed</label>
        <select class="form-select form-control" id="year" name="game[year]" required>
          <optgroup label="Previous Selection">
            <option value="<%= game.year %>" selected><%= game.year %></option>
          </optgroup>
          <optgroup label="Other Options">
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
            <option value="2026">2026</option>
            <option value="2027">2027</option>
            <option value="2028">2028</option>
            <option value="2029">2029</option>
            <option value="2030">2030</option>
          </optgroup>
        </select>
      </div>

      <div class="mb-3">
        <label class="mb-2" for="image">Add/Change Images</label>
        <div class="input-group">
          <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" name="image" multiple />
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="note">Edit Notes</label>
        <textarea class="form-control" type="text" id="note" name="game[note]"><%= game.note %></textarea>
      </div>

      <h6>Delete Images:</h6>
      <div class="row row-cols-1 row-cols-md-4 g-4 mb-3">
        <% game.images.forEach((image, i) => { %>
        <div class="col">
          <div class="card">
            <label for="image-<%= i %>"><img class="card-img" src="<%= image.thumbnail %>" alt="" crossorigin="anonymous" />
              <div class="card-img-overlay text-end pt-1 pe-2">
                <input class="form-check-input" type="checkbox" name="deleteImages[]" value="<%= image.filename %>" id="image-<%= i %>" />
              </div>
            </label>
          </div>
        </div>
        <% }) %>
      </div>

      <div class="mb-3">
        <button class="btn btn-info">Update Game</button>
      </div>
    </form>
    <a href="/games/<%= game._id %>">Back to Game</a>
  </div>
</div>
