<% layout('layouts/boilerplate') %>

<div class="container text-center">
  <h1>All Games</h1>
</div>

<div class="container d-flex justify-content-center align-items-center mb-3">
  <div class="row flex-fill">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <form action="/games" method="GET" class="d-flex" role="search">
        <input type="text" name="search" placeholder="Find a game..." class="form-control" />
        <button type="submit" value="Search" class="btn btn-outline-dark">Search</button>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <% for (let game of games) { %>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 gy-1 mb-3">
    <div class="card text-center h-100" id="game-card">
      <% if(game.images.length) { %>
      <img crossorigin="anonymous" class="card-img-top" id="game-index-card" src="<%= game.images[0].url %>" alt="Main image related to the game" />
      <% } else { %>
      <img crossorigin="anonymous" class="card-img-top" id="game-index-card" src="https://res.cloudinary.com/dkyxbnxxo/image/upload/v1682626794/GameTracker/Default%20Assets/koxqbv34wtrbty3ghdp7_buavxo.jpg" alt="Default video game themed photo" />
      <% } %>
      <div class="card-body">
        <h5 class="card-title"><%= game.title %></h5>
        <h6 class="card-subtitle"><%= game.platform %></h6>
        <p class="card-text">
          <small class="text-muted">Beaten in <%= game.year %></small>
        </p>
        <a href="/games/<%= game._id %>" class="stretched-link"></a>
      </div>
    </div>
  </div>
  <% } %>
</div>
