<% layout('layouts/boilerplate') %>
<h1><%= game.title %></h1>
<h2><%= game.platform %></h2>
<h2><%= game.year %></h2>
<p><a href="/games/<%= game._id %>/edit">Edit</a></p>
<p>
  <form action="/games/<%= game._id %>?_method=DELETE" method="POST">
    <button>Delete</button>
  </form>
</p>
<footer>
  <a href="/games">All Games</a>
</footer>
